input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input{
	background:none;
	border:none;
	height: 46px;
	transition: all 0.3s ease-in-out;

	&:focus{
		outline: none;
		border:none;
		background:$highlights-gra;
	}
}
button{
	border:none;
}