// Variables
$highlights:#FB6149;
$highlights-gra:#485563;
$darken:#29323C;
$qualified:#37D57E;
$score-color:#FFCC2A;

.qualified-team{
	background:$qualified;
}
.repechage-team{
	background:$score-color;
}